{% ckan_extends %}
{% block basic_fields %}
  {{ super() }}
    {% block apinf_input %}
      {% call form.input('apinf_page', id='apinf-url', label=_('API Doc. Page'), placeholder=_('http://apinfserver.com/example-api'),
         value=data.apinf_page, error=errors.apinf_page, classes=['apinf-input', 'hidden', 'control-full']) %}

        <span class="info-block info-block-small hidden apinf-input">
          <i class="fa fa-info-sign"></i>
          {{ _('Apinf site with API service description. This value is generated automatically from your resource URL') }}
        </span>
      {% endcall %}
    {% endblock %}

    <script type="text/javascript">
        window.addEventListener("load", function () {
            // Show Apinf site URL when the form is used for updating
            if ($('#field-image-url').is(':visible') && $('#apinf-url').val()) {
                $('#apinf-url').attr('disabled', true);
                $('.apinf-input').removeClass('hidden');
            }
        });
    </script>

{% endblock basic_fields %}